<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:property name="base_mass" value="11.0" />
    <xacro:property name="ixx" value="0.15" />
    <xacro:property name="iyy" value="0.15" />
    <xacro:property name="izz" value="0.2" />
    <xacro:property name="added_mass_linear" value="0 0 0" />
    <xacro:property name="added_mass_angular" value="0 0 0" />
    <xacro:property name="damping_linear" value="7 7 7" />
    <xacro:property name="damping_angular" value="0.3 0.3 0.3" />
    <!-- alpha manipulator weight underwater: 1.405 kg - 0.6206 kg = 0.7001  => 0.7844 / 11.0 (mass bluerov) = 0.0713-->
    <xacro:property name="buoyancy_compensation_AUV" value="1.001" /> <!--1.001 default -->
    <xacro:property name="buoyancy_origin_AUV" value="${[0, 0, 0.005]}" />
    <xacro:property name="buoyancy_compensation_added" value="0.0713" /> <!-- must be the same as for controller! -->
    <xacro:property name="buoyancy_origin_added" value="${[0, 0, 0.05]}" />
    <!--
    <xacro:property name="buoyancy_compensation" value="${buoyancy_compensation_AUV + buoyancy_compensation_added}" />
    <xacro:property name="buoyancy_origin" value="${(buoyancy_origin_AUV[0] * buoyancy_compensation_AUV + buoyancy_origin_added[0] * buoyancy_compensation_added) / (buoyancy_compensation_AUV + buoyancy_compensation_added)}
            ${(buoyancy_origin_AUV[1] * buoyancy_compensation_AUV + buoyancy_origin_added[1] * buoyancy_compensation_added) / (buoyancy_compensation_AUV + buoyancy_compensation_added)}
            ${(buoyancy_origin_AUV[2] * buoyancy_compensation_AUV + buoyancy_origin_added[2] * buoyancy_compensation_added) / (buoyancy_compensation_AUV + buoyancy_compensation_added)}" />
    -->
    <xacro:property name="buoyancy_compensation" value="${buoyancy_compensation_AUV}"/>
    <xacro:property name="buoyancy_origin" value="${buoyancy_origin_AUV[0]} ${buoyancy_origin_AUV[1]} ${buoyancy_origin_AUV[2]}"/>


    <xacro:property name="barometer_position" value="-0.15 0 -0.05" />
    <xacro:property name="barometer_noise" value="100.0" />

    <!-- relative to the BlueROV's body-frame -->
    <xacro:property name="imu_position" value="0.15 0 0.05" />
    <xacro:property name="imu_orientation" value="${radians(0)} ${radians(0)} ${radians(0)}"/>
    <xacro:property name="imu_noise" value="0.0003"/>

    <xacro:property name="thruster_r" value="0.097" />

</robot>
